#container{
  display: flex;
  padding: 10px;
  margin-left: 500px;
  

}
.child1{
  border: 5px solid darkgrey;
  padding: 5px;
  border-radius: 20px;

}
.child2{
  padding: 80px;
  text-align: center;
}
p{
  font-size: 20px;
  text-align: center;
}
h1{
  font-size: 30px;
  text-align: center;
}

.footer{
  margin-left : 80px;
  font-size : 18px;
}
